# Temp files and IDE files
*.*#
.idea
*.iml
*.ipr
*.iws
# Compiled files
*.class
target
# Dir for stuff i don't want to commit
utils/
# Package Files #
*.jar
*.war
*.ear
*.*~
pom.xml.releaseBackup
release.properties
test-output/*
.settings/*
.project
.classpath
bin

.DS_Store

src/main/resources/com/ning/billing/recurly/git.properties

dependency-reduced-pom.xml
