<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>quay.io</id>
      <username>kahoot</username>
      <password>a2Fob290K2plbmtpbnM6V1FPN1NaME44RTZQRlhLRjI5RFhCMVFaNVZVVENaUU02WVQwVjBaRk1OMVY2VVRNWkdHT0pFQzhNR1FLQ1FRTA==</password>
    </server>
    <server>
      <id>nexus</id>
      <username>deployment</username>
      <password>qBaYB%3X9ywQUY</password>
    </server>
    <server>
      <id>github</id>
      <username>mobitroll-robot</username>
      <password>????</password>
    </server>
  </servers>
</settings>